.educator-profile, .parentProfile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 98%;
    align-items: center;
    margin: 5px;
    height: 97vh;
    gap: 10px;
}

.educator-bio > p, .educator-container > div > p, .educator-availibility > div > p {
    color: rgb(239, 185, 48);
    font-size: 24px;
    font-weight: bold;
}

.educator-bio > p, .educator-container > div > p {
    text-align: center;
}


.educator-card{
    margin: 5px;
    background-color: rgb(228, 239, 236);
    height: 400px;
    width: 280px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.educator-card-name, .educator-card-position, .educator-card-location{
    font-weight: bold;
    margin: 0;
}

.educator-card-name{
    font-size: 30px;
    text-align: center;
    border: 2px solid red;
}

.educator-card-img-container{
    border: 2px solid black;
    width: 170px;
    height: 120px;
}

.educator-card-position{
    border: 2px solid blue;
}

.educator-card-location{
    border: 2px solid green;
}

.educator-card-button-container{
    border: 2px solid purple;
    display: flex;
    gap: 12px;
}


.educator-bio{
    margin: 5px;
    background-color: #3E92A4;
    height: 300px;
    width: 90%;
    border-radius: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.educator-bio-title{
    /* border: 2px solid yellow; */
    margin: 20px 0px 0px 0px;
}

.educator-bio-containers{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
}

.educator-container {
    margin: 5px;
    /* background-color: #edf3f4; */
    height: 300px;
    width: 90%; 
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 15px; */
}

.educator-left-container{
    height: 100%;
    width: 48%;
    border-radius: 10px;
    background-color: #B286eb;
}


.educator-right-container{
    height: 100%;
    width: 48%;
    background-color: #7CE5D9;
    border-radius: 10px;
    
}

.educator-availibility{
    margin: 5px;
    background-color: #3E92A4;

    height: 300px;
    width: 90%;
    border-radius: 10px;
}

.educator-availibility{
    display: flex;
    justify-content: space-around;
}
