.componentContainer{
    position: fixed;
    top: 60px;
    display: flex;
    justify-content: center;
    background-color: rgb(73, 180, 180);
    /* border: 4px yellow solid; */
    height: 610px;
    /* max-height: 60%; */
    width: 100vw;
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question{
    color: rgb(239, 185, 48);
}

.instruction{
    color:rgb(196, 162, 240);
}

.children{
    color: rgb(235, 222, 191);
}

.educators{
    color: rgb(113, 245, 242);
}

.textContainer{
  border: 2px solid yellow;  
}
.buttonsContainer{
    display: flex;
    justify-content: center;
    gap: 70px;
    border: 2px solid red;
    font-weight: bold;
}

.parentLoginButton, .educatorLoginButton{
    background-color: rgb(239, 185, 48);
    border-radius: 30px;
}